  <footer class="<%= page_classes %>">
    <a href="/"><h1 class="footerbar">HYPERVERSES</h1></a>
    <p><a href="/">Hyperverses</a> is ©2012–<%= DateTime.now.year %> by <a href="http://pfhawkins.com">P.&#8202;F. Hawkins</a>, Webmaster.</p>
    <p>There is no <a href="/on-hyperverses.html">about page</a>, but there is a <a href="/colophon.html">colophon</a>.</p>
    <p><a href="/biglist.html">There are more pieces to the site.</a></p>
    <p>Hyperverses tweets <a href="https://twitter.com/hyperverses">@hyperverses</a>.</p>
    <p><a href="http://eepurl.com/kAxU9">Subscribe</a> to <a href="/weekly.html"><em>Hyperverses Weekly</em></a> for Hyperverses in your inbox.</p>
    <p><img alt="HYPERVERSES" width="640" height="480" src=<%="/images/hv-footer-"+Random.rand(101).to_s+".png"%> /></p>
    <br/>
  </footer>
    <script type="text/javascript">

       var _gaq = _gaq || [];
       _gaq.push(['_setAccount', 'UA-37338350-1']);
       _gaq.push(['_trackPageview']);

       (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

    </script>
