  <footer class="<%= page_classes %>">
    <h1 class="footerbar">HYPERVERSES</h1>
    <p> <a href="http://hypervers.es">Hyperverses</a> is ©2012 by <a href="http://pfhawkins.com">P. F. Hawkins</a>, Webmaster.</p>
    <p>There is no <a href="http://hypervers.es/on-hyperverses.html">about page</a>, but there is a <a href="http://hypervers.es/colophon.html">colophon</a>.</p>
    <p><a href="http://hypervers.es/biglist.html">There are more pieces to the site.</a></p>
    <p> Hyperverses tweets <a href="https://twitter.com/hyperverses">@hyperverses</a>.</p>
  </footer>
